<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head'); %>
  </head>
  <body>

    <nav>
      <%- include('../partials/_navbar'); %>
    </nav>

    <header class="profile">
      <%- include('../partials/_header'); %>
    </header>

    <main>
      <section class="new-tweet">
        <h2>Compose Tweet</h2>
        <form method="POST" action="/tweets/">
          <label for="tweet-text">What are you humming about?</label>
          <textarea name="text" id="tweet-text"></textarea>
          <div>
            <button type="submit">Tweet</button>
            <output name="counter" class="counter" for="tweet-text">140</output>
          </div>
        </form>
      </section>

      <article>
        <header>
          <h1>Excellent tweet example text</h1>
          <h2>@Username</h2>
        </header>
        <section>
          <p>The text in the tweet goes here.</p>
        </section>
        <footer>
          <p>1231 days ago</p>
            <div class="icon-drawer">
              <span class="fas fa-angle-double-down"></span>
              <span class="fas fa-angle-double-down"></span>
              <span class="fas fa-angle-double-down"></span>
            </div>
        </footer>
      </article>

    </main>

    <footer>
      <%- include('../partials/_footer'); %>
    </footer>
    <script type="text/javascript" src="/scripts/composer-char-counter.js"></script>
  </body>
</html>