<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head'); %>
  </head>
  <body>

    <nav>
      <%- include('../partials/_navbar'); %>
    </nav>

  <div class="content-container">
    <header class="profile">
      <%- include('../partials/_header'); %>
    </header>

    <main>
      <section id="new-tweet">
        <form class="tweet-form" method="POST" action="/tweets/">
          <label for="tweet-text">What are you humming about?</label>
          <textarea name="text" id="tweet-text"></textarea>
          <div>
            <button type="submit">Tweet</button>
            <output name="counter" class="counter" for="tweet-text">140</output>
          </div>
        </form>
      </section>

      <div class="tweet-container"></div>
      
    </main>
  </div>

    <footer>
      <%- include('../partials/_footer'); %>
    </footer>
  </body>
</html>