.tweet-container {
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-style: solid;
}

article:hover {
  box-shadow: 10px 10px rgba(0,0,0,0.5);
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 20px 0 20px;
  font-size: small;
}

article header h2 {
  font-weight: 200;
  color: #7991a8;
  margin-right: 40px;
}

div.avatar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

div.avatar h1 {
  margin-left: 10px;
  font-weight: 200;
}

article section {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-bottom: 3px solid #545149;
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}

article section p {
  word-break: break-word;
}


article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px 0 40px;
}

.icon-drawer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.icon-drawer span {
  margin: 5px 2px 0 5px;
}

.icon-drawer span:hover {
  color: darkcyan;
}