#new-tweet {
  margin: 40px 0 40px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

form div {
  display: flex;
  justify-content: space-between;
}

textarea {
  border: none;
  resize: none;
  background-color: inherit;
  border-bottom: 3px solid #545149;
  margin-bottom: 0.5em;
}

textarea:focus {
  outline: none;
}

.error-msg {
  text-align: center;
  margin: 20px 100px 0 100px;
  border: 3px solid;
  padding: 10px;
  color: rgb(255, 66, 66);
}

.counter {
  font-family: "Bungee", cursive;
  margin-right: 20px;
}

button {
  background-color: #4056A1;
  color: white;
  font-family: "Bungee", cursive;
}

@media screen and (max-width: 1024px) {
  
}

